.orgchart {font-size: 1em; line-height: 1.6em; margin: 0px auto; padding: 0px; text-align: center; color: #3f3c30; width: auto;}
.orgchart a:hover, .orgchart a:active {color: #820000;}
.orgchart .name a {color: #565347; text-decoration: none; border: none;}
.orgchart .name a:hover, .orgchart .name a:active {color: #820000;}
.orgchart img {border: none;}
.orgchart ul {margin: 0px; padding: 0px; background-image: none;}
.orgchart li {display: inline-block; list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; vertical-align: top; zoom: 1; *display: inline;}
.orgchart li ul {background-image: url("../images/gray.gif"); background-position: top center; background-repeat: no-repeat;}
.orgchart li li {margin: 10px -1px 0px -3px; padding: 10px 5px 10px 5px; text-align: right; background-image: url("../images/connect_last.gif"); background-position: top left; background-repeat: no-repeat; border-top: 1px solid #666;}
.orgchart li > ul > li:last-child {border-top: none;}
.orgchart li li ul {margin: 0px; padding: 0px 0px 0px 10px; background-image: none;}
.orgchart li li li {display: list-item; margin: 0px; padding: 10px 0px 0px 5px; text-align: right; background-image: url("../images/connect.gif"); background-position: top left; background-repeat: no-repeat; border-top: none;}
.orgchart li li li:last-child {background-image: url("../images/connect_last.gif"); background-position: top left; background-repeat: repeat-y; border-top: none;}

.orgchart .president {position: relative; display: block; text-align: center; border: 10px double #666; padding: 5px 10px; border-radius: 5px; background-color: #fff;}
.orgchart li .president {margin: 0px auto; width: 113px;}
.orgchart .vp {position: relative; display: block; text-align: center; border: 8px double #666; padding: 5px 10px; border-radius: 5px; background-color: #fff;}
.orgchart li .vp {margin: 0px auto; width: 114px;}
.orgchart .executive {position: relative; display: block; text-align: center; border: 5px double #666; padding: 5px 10px; border-radius: 5px; background-color: #fff;}
.orgchart li .executive {margin: 0px auto; width: 150px;}
.orgchart li li .executive {margin: 0px; width: 118px;}
.orgchart .director {position: relative; display: block; text-align: center; border: 3px double #666; width: 124px; padding: 5px 10px; border-radius: 5px; background-color: #fff;}
.orgchart li .director {margin: 0px auto; width: 154px;}
.orgchart li li .director {margin: 0px; width: 122px;}
.orgchart .manager {position: relative; display: block; text-align: center; border: 2px solid #666; margin: 0px; padding: 5px 10px; border-radius: 5px; background-color: #fff;}
.orgchart li .manager {width: 156px;}
.orgchart li li .manager {width: 124px;}
.orgchart li li li .manager {width: 109px;}
.orgchart li li li li .manager {width: 94px;}
.orgchart .staff {position: relative; display: block; text-align: center; border: 1px solid #666; margin: 0px; padding: 5px 10px; border-radius: 5px; background-color: #fff;}
.orgchart li .staff {width: 158px;}
.orgchart li li .staff {width: 126px;}
.orgchart li li li .staff {width: 111px;}
.orgchart li li li li .staff {width: 96px;}
.orgchart li li li li li  .staff {width: 81px;}
.orgchart .group {position: relative; display: block; text-align: center; border: 1px solid #666; margin: 0px; padding: 5px; border-radius: 5px; background-color: #fff;}
.orgchart li .group {width: 158px;}
.orgchart li li .group {width: 126px;}
.orgchart li li li .group {width: 120px;}
.orgchart li li li li .group {width: 106px;}
.orgchart li li li li li .group {width: 91px;}

.orgchart .group .name a.stanfordwho {border-bottom: 1px dotted #81785a;}
.orgchart .group .org {display: block; font-weight: bold;}
.orgchart .group .org sup {font-weight: normal;}
.orgchart .group ul {display: block; margin: 0px; padding: 0px;}
.orgchart .group ul li {display: list-item; margin: 0px; padding: 0px; text-align: center; background-image: none;}
.orgchart .group ul li:last-child {background-image: none;}
.orgchart .group .name {display: block; border: none;}
.orgchart .name {display: block; border-bottom: 1px solid #666;}
.orgchart .role {display: block;}
.orgchart .org {display: block; margin: 0px 5px;}
.orgchart .suborg {display: block; margin: 1em 0px 0px 0px; font-weight: bold;}
.orgchart .url {position: absolute; display: block; bottom: 0px; right: 0px; width: 15px; height: 15px;}
.orgchart .url a {border: none;}

.key {font-size: 12px; color: #3f3c30; margin: 0px; padding: 10px 0px;}
.key li {list-style-type: none; list-style-image: none; margin: 0px; padding: 0px;}

.orgchart > ul.col1 li li {margin-top: 0px;}
.orgchart > ul.col1 li ul {background-image: none; padding-top: 0px;}
.orgchart > ul.col1 > li > ul:last-child {background-image: none; padding-top: 0px;}

.orgchart > ul > li > ul[class*=row] {background-image: url("../images/gray.gif"); background-position: top center; background-repeat: repeat-y;}

.orgchart > ul > li > ul.row1 > li:first-child {margin-left: 155px;}
.orgchart > ul > li > ul.row1 > li:nth-child(1) {background-image: url("../images/connect_row.gif");}

.orgchart > ul > li > ul.row2 > li:nth-child(2) {background-image: url("../images/connect_row.gif");}

.orgchart > ul > li > ul.row3 > li:first-child {margin-left: 156px;}
.orgchart > ul > li > ul.row3:nth-child(2) > li:nth-child(3) {background-image: url("../images/connect_last.gif");}
.orgchart > ul > li > ul.row3 > li:nth-child(2) {background-image: url("../images/connect_row.gif");}

.orgchart > ul > li > ul.row4:nth-child(2) > li:nth-child(4) {background-image: url("../images/connect_last.gif");}
.orgchart > ul > li > ul.row4 > li:nth-child(3) {background-image: url("../images/connect_row.gif");}

.orgchart > ul > li > ul.row5 > li:last-child {margin-right: 156px;}
.orgchart > ul > li > ul.row5:nth-child(2) > li:nth-child(5) {background-image: url("../images/connect_last.gif");}
.orgchart > ul > li > ul.row5 > li:nth-child(4) {background-image: url("../images/connect_row.gif");}

.orgchart > ul > li > ul.row6:nth-child(2) > li:nth-child(6) {background-image: url("../images/connect_last.gif");}
.orgchart > ul > li > ul.row6 > li:nth-child(4) {background-image: url("../images/connect_row.gif");}

.orgchart > ul > li > ul:last-child > li:nth-child(3) {background-image: url("../images/connect_last.gif");}
.orgchart > ul > li > ul:last-child {background-image: url("../images/gray.gif"); background-position: top center; background-repeat: no-repeat;;}

@media screen and (max-width: 979px) {
  /* IT Services Organization Charts */
  .orgchart li {display: block; width: auto !important;}
  .orgchart li ul {background-image: none !important;}
  .orgchart > ul > li > ul > li {margin: 0px 0px 0px 10px !important;}
  .orgchart li li {margin: 0px 0px 0px 10px; padding: 10px 0px 0px 10px; text-align: right; background-image: url("../images/connect.gif"); background-repeat: repeat-y; border-top: none;}
  .orgchart li li:last-child {background-image: url("../images/connect_last.gif"); background-repeat: no-repeat; border-top: none; margin-right: 0px;}
  .orgchart li li li {padding: 10px 0px 0px 10px;}
  .orgchart .vp {margin: 0px; padding: 3px 10px; width: auto !important;}
  .orgchart .executive {margin: 0px; padding: 3px 10px; width: auto !important;}
  .orgchart .director {padding: 3px 10px; width: auto !important;}
  .orgchart .manager {padding: 3px 10px; width: auto !important;}
  .orgchart .staff {padding: 3px 10px; width: auto !important;}
  .orgchart .group {padding: 3px 10px; width: auto !important;}
  .orgchart .group ul li {display: inline-block !important; margin: 0px 5px; line-height: 15px; vertical-align: bottom;}
  .orgchart .name {display: inline-block; margin: 0px; border-bottom: none;}
  .orgchart .role {display: inline-block; margin: 0px;}
  .orgchart .role:before {content: "(";}
  .orgchart .role:after {content: ")";}
  .orgchart .org {display: block; margin: 0px;}
  .orgchart .suborg {display: block; margin: 0.5em 0px 0px 0px;}
  
  .orgchart > ul > li > ul[class*=row] > li:nth-child(1) {background-image: url("../images/connect.gif") !important;}
  .orgchart > ul > li > ul[class*=row] > li:nth-child(2) {background-image: url("../images/connect.gif") !important;}
  .orgchart > ul > li > ul[class*=row] > li:nth-child(3) {background-image: url("../images/connect.gif") !important;}
  .orgchart > ul > li > ul[class*=row] > li:nth-child(4) {background-image: url("../images/connect.gif") !important;}
  .orgchart > ul > li > ul[class*=row] > li:last-child {background-image: url("../images/connect.gif") !important;}
  
  .orgchart > ul > li > ul:last-child > li:nth-child(3) {background-image: url("../images/connect.gif") !important;}
  .orgchart > ul > li > ul:last-child > li:last-child {background-image: url("../images/connect_last.gif") !important;}
}

@media print {
  .orgchart {font-size: 10px; background: #fff; position: absolute; top: 20px; left: 0; width: 100%; height: 50%; z-index: 50;}
  .orgchart li {line-height: 15px;}
  .orgchart li img {display: none;}
  .orgchart li a {border: none;}
  .orgchart li div {padding: 2px 7px !important;}
  .orgchart li .group {padding: 2px 2px !important;}
  .orgchart li .vp {width: 114px;}
  .orgchart li .executive {width: 120px;}
  .orgchart li li .executive {width: 88px;}
  .orgchart .director {width: 94px;}
  .orgchart li .director {width: 124px;}
  .orgchart li li .director {width: 92px;}
  .orgchart li .manager {width: 126px;}
  .orgchart li li .manager {width: 94px;}
  .orgchart li li li .manager {width: 79px;}
  .orgchart li li li li .manager {width: 64px;}
  .orgchart li .staff {width: 128px;}
  .orgchart li li .staff {width: 96px;}
  .orgchart li li li .staff {width: 81px;}
  .orgchart li li li li .staff {width: 66px;}
  .orgchart li li li li li .staff {width: 51px;}
  .orgchart li .group {width: 128px;}
  .orgchart li li .group {width: 96px;}
  .orgchart li li li .group {width: 90px;}
  .orgchart li li li li .group {width: 76px;}
  .orgchart li li li li li .group {width: 61px;}
  .orgchart > ul > li > ul.row1 > li:last-child {margin-right: 116px;}
  .orgchart > ul > li > ul.row3 > li:last-child {margin-right: 116px;}
  .orgchart > ul > li > ul.row5 > li:last-child {margin-right: 116px;}
  
  .key {font-size: 10px; background: #fff; position: absolute; bottom: 0; left: 0; z-index: 100;}
}